/* src/styles/PreviewInvoice.css */

.preview-invoice-container {
    background-color:white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 21px;
    width: 100%;
    margin-top: 110px;

  }
  
  .invoice-summary {
    display: flex;
    
    justify-content: space-between;
  }
  
  .company-logo img {
    max-width: 100px; /* Adjust the max-width as needed */
  }
  
  .invoice-tables {
    width: 80%;
    border-collapse: collapse;
    /* margin-top: 20px; */
  }
  
  .invoice-tables th,
  .invoice-tables td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .invoice-summary {
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
  }

  /* src/styles/CreateInvoice.css */


  
  