.mainContainer {
    background-color: #FFF9F1;
    padding: 2rem;
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
  }

.main_container {
background-color: #FFF9F1;
padding: 2rem;
width: 100vw;
margin: 0 auto; 
height: 100vh;
}

/* Style the heading section */
.heading {
margin-bottom: 2rem;
}

.heading h2 {
color: #333;
margin-bottom: 5px;
}

/* Style the Payment body */
.PayMent-body {
background-color: white;
padding: 20px;
border-radius: 1rem;
width: 60%; 
box-shadow: 0 0 6px 0.5px rgb(200, 200, 200);
}

/* Style the Payment Method section */
.pay-method {
margin-bottom: 20px;
}

.pay-method h2 {
margin-bottom: 10px;
font-size: 20px;
}

.pay-options {
display: flex;
flex-wrap: wrap; 
gap: 10px;
align-items: center;
}

/* Style the Payment Details section */
.payment-details {
margin-bottom: 20px;
}

.label {
color: #515151;
}

.details_input {
display: grid;
grid-template-columns: 1fr 1fr; 
grid-gap: 15px;
border: none;
}

@media (max-width: 400px) {
.details_input {
    grid-template-columns: 1fr; /* Change to a single column on screens 768px and below */
}
}

.payment-details h2 {
margin-bottom: 10px;
font-size: 20px;
}

/* Style the Terms and Conditions paragraph */
.form p {
margin-top: 15px;
}

/* Style the Confirm button section */
.buttons {
display: flex;
flex-direction: column; /* Stack buttons vertically on smaller screens */
justify-content: space-evenly;
}

.terms-para {
margin-bottom: 20px;
}

/* Style the buttons */
.save-button,
.conform-button {
padding: 10px 20px;
background-color: #ffffff;
/* Blue color for buttons */
border: none;
border: solid 1px black;
border-radius: 30px;
font-size: 1rem;
font-weight: 500;
}

/* Hover effect on buttons */
.save-button:hover,
.conform-button:hover {
background-color: #000000;
color: white;
}
  